.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flex-container-header{
  display: flex;
  align-items: center;
}
.flex-container-header > span{
  margin: 20px;
  margin-right: 10px;
  font-weight: bold;
}
.flex-container-header > input{
      width: 200px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
}
.flex-container-body{

}

.flex-container-body > div {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.flex-container-body > div > div{
  margin: 50px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
